body{
    background-color:#127cc3;

}
.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-top: 2%;
    margin-left: 2%;
}

header h1{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-bottom: 2%;
}

.calculadora {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 300px;
    }

#display {
    width: 100%;
    font-size: 2rem;
    padding: 20px;
    background-color: #000;
    color: rgb(255, 255, 255);
    border: none;
    text-align: right;
    }

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    }

button {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    }

button:hover {
    background-color: #555;
    }

.zero {
    grid-column: span 2;
    }