

body{
    background-color: darkslategray;
    /* margin: 0;
    overflow-x: hidden; */
}


header{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-top: 2%;
    margin-left: 2%;
}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-bottom: 2%;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}


#enunciado{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:steelblue;
}

#diagnostico{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:steelblue;
}

#enunciadodiscoteca {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:steelblue;
}